<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    
    <body>
        <div id="headerview" style="height: 44px;display:none;"><header></header></div>
        
        <div id="main">
            <div class="main-frame">
                <div class="main-viewport">
                </div>
                <div class="main-state">
                </div>
            </div>
        </div>

        <div id="footer"></div>
        @RenderBody()

        <script type="text/javascript" src="http://localhost:1006/webapp/blade/blade.seed.js"></script>

    </body>
</html>
