

<div id="headerview"></div>

<div class="cm-page-wrap">
    <div class="cm-state" id="js_page_state">
    </div>
    <div class="cm-fake-page" id="fake-page">
        <div class="cm-header">
            <h1 class="cm-page-title js_title"> 正在加载... </h1>
        </div>
        <div class="cm-view page-index " id="page-view-10">
            <div class="js_banner_wrapper" style="width: 100%; min-height: 100px;">
            </div>
            <div class="search-box">
                <i class="icon-swap js_swap_city"></i>
                <div class="start search-line ">
                    <div class="title">
                        出发
                    </div>
                    <div class="value ">
                        --
                    </div>
                </div>
                <div class="end search-line ">
                    <div class="title">
                        到达
                    </div>
                    <div class="value ">
                        --
                    </div>
                </div>
            </div>
            <div class="search-date search-line ">
                <i class="icon-calendar"></i>
                <div class="title">
                    出发时间
                </div>
                <div class="value j_date">
                    今天
                </div>
            </div>
            <div class="index-btn-wrapper">
                <span class="btn-primary full-width ">查询</span>
            </div>
            <ul class="bus-tabs nav-bar js_tool_bar">
                <li class="tabs-item active">
                    <div class="line">
                        <i class="icon-img-search"></i>
                    </div>
                    <div class="line">
                        <span>查询</span>
                    </div>
                </li>
                <li class="tabs-item">
                    <div class="line">
                        <span class="icon-img-file"><i></i></span>
                    </div>
                    <div class="line">
                        <span>订单</span>
                    </div>
                </li>
                <li class="tabs-item">
                    <div class="line">
                        <i class="icon-img-user"></i>
                    </div>
                    <div class="line">
                        <span>我的</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
